<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Department Loan">
    <test verbose="2"
          name="Personal Loan">
        <classes>
            <class name="section18.TestNGT">
                <methods>
                    <include name="demo"/>
                </methods>
            </class>
            <class name="section18.TestNGT2"/>
        </classes>
    </test>

    <test verbose="2"
          name="Car Loan">
        <classes>
            <class name="section18.TestNGT3">
                <methods>
                    <exclude name="mobile.*"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>